<div class="row mt-4 text-center">
  <h2>Mis cuentas</h2>
</div>
<div class="row ml-auto mr-auto text-center">
  <div
    class="col-xl-3 col-md-4 col-sm-6 col-12 mt-4"
    *ngFor="let account of accounts; let i = index"
  >
    <mat-card class="card" (click)="pickAccount(account)"
      ><mat-card-title
        >CUENTA {{ i }}
        <fa-icon
          [icon]="faStar"
          *ngIf="account?.isMain"
        ></fa-icon> </mat-card-title
      ><mat-card-subtitle>{{ account.number }}</mat-card-subtitle
      ><mat-card-content>{{ account.total }}</mat-card-content></mat-card
    >
  </div>
</div>
