table {
  width: 100%;
}

th,
td {
  padding: 10px !important;
}

mat-form-field {
  width: 50% !important;
}

.text-right {
  text-align: right !important;
}

.total {
  color: rgba(0, 0, 0, 0.54);
}
